#updateTargetId
{
    max-width: 100% !important;
}

#treeviewScroll
{
    width: 250px !important;
    height: 265px !important;
    padding: 5px;
    overflow: auto !important;
}

label
{
    margin-right: 5px !important;
}
.input-validation-error
{
    color: #F56954 !important;
    border-color: #F56954 !important;
}

.field-validation-error
{
    color: #F56954 !important;
    display: inline-block !important;
    text-align: right !important;
    width: 95% !important;
}

.field-validation-error span
{
    float: right !important;
}

.form-hr
{
    border-top: 1px solid #C5C5C5;
    padding-top: 9px;
}

.progess-bar
{
    padding: 0 0 0 22px;
    margin: 0px;
}

.addOrEditPage
{
    min-height: 100px;
    -moz-min-width: 400px;
    -ms-min-width: 400px;
    -o-min-width: 400px;
    -webkit-min-width: 400px;
    min-width: 400px;
}

.detailsPage
{
    min-height: 100px;
    -moz-min-width: 400px;
    -ms-min-width: 400px;
    -o-min-width: 400px;
    -webkit-min-width: 400px;
    min-width: 400px;
}

.deletePage
{
}

.buttonZone
{
}

.form-win-message span
{
    padding: 0px !important;
    margin: 0px !important;
    display: inline-block !important;
}

.form-win .radio
{
    margin: 0 !important;
    padding: 0 !important;
    height: 25px !important;
}

.radio-label
{
    margin: 0 5px 0 0 !important;
    padding: 0 !important;
    width: auto !important;
    float: left !important;
    font-weight: normal !important;
}

.radio-label input[type="radio"], .radio-inline input[type="radio"], .checkbox input[type="checkbox"], .checkbox-inline input[type="checkbox"]
{
    margin-left: -14px !important;
}

.radio-label span
{
    margin: 0 !important;
    padding: 0 !important;
    vertical-align: sub !important;
}

/*.form-win .col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12
{
    padding-left: 8px !important;
    padding-right: 8px !important;
}*/

/*kendo ui style
---------------------------------------------------------------------
*/

.k-widget .k-window
{
}

.k-window-title
{
    font-size: 18px !important;
    position: static !important;
}

.k-window-titlebar .k-window-action
{
    height: 20px !important;
    width: 20px !important;
}

.k-window-titlebar .k-window-actions
{
    padding-top: 5px !important;
}

.k-block > .k-header, .k-window-titlebar
{
    font-size: 2em !important;
    line-height: 0 !important;
}

.k-block, .k-button, .k-textbox, .k-drag-clue, .k-touch-scrollbar, .k-window, .k-window-titleless .k-window-content, .k-window-action, .k-inline-block, .k-grid .k-filter-options, .k-grouping-header .k-group-indicator, .k-autocomplete, .k-multiselect, .k-combobox, .k-dropdown, .k-dropdown-wrap, .k-datepicker, .k-timepicker, .k-colorpicker, .k-datetimepicker, .k-numerictextbox, .k-picker-wrap, .k-numeric-wrap, .k-colorpicker.k-list-container, .k-calendar-container, .k-calendar td, .k-calendar .k-link, .k-treeview .k-in, .k-editor-inline, .k-tooltip, .k-tile, .k-slider-track, .k-slider-selection, .k-upload
{
    -ms-border-radius: 0 !important;
    border-radius: 0 !important;
}

.k-block, .k-button, .k-textbox, .k-drag-clue, .k-touch-scrollbar, .k-window, .k-window-titleless .k-window-content, .k-window-action, .k-inline-block, .k-grid .k-filter-options, .k-grouping-header .k-group-indicator, .k-autocomplete, .k-multiselect, .k-combobox, .k-dropdown, .k-dropdown-wrap, .k-datepicker, .k-timepicker, .k-colorpicker, .k-datetimepicker, .k-numerictextbox, .k-picker-wrap, .k-numeric-wrap, .k-colorpicker.k-list-container, .k-calendar-container, .k-calendar td, .k-calendar .k-link, .k-treeview .k-in, .k-editor-inline, .k-tooltip, .k-tile, .k-slider-track, .k-slider-selection, .k-upload
{
    -ms-border-radius: 0 !important;
    border-radius: 0 !important;
}

.k-window-titlebar, .k-block > .k-header, .k-tabstrip-items .k-item, .k-panelbar .k-tabstrip-items .k-item, .k-tabstrip-items .k-link, .k-calendar-container.k-state-border-down, .k-list-container.k-state-border-down, .k-autocomplete.k-state-border-down, .k-multiselect.k-state-border-down, .k-dropdown-wrap.k-state-border-down, .k-picker-wrap.k-state-border-down, .k-numeric-wrap.k-state-border-down
{
    -ms-border-radius: 0 !important;
    border-radius: 0 !important;
}

.k-calendar-container.k-state-border-up, .k-list-container.k-state-border-up, .k-autocomplete.k-state-border-up, .k-multiselect.k-state-border-up, .k-dropdown-wrap.k-state-border-up, .k-picker-wrap.k-state-border-up, .k-numeric-wrap.k-state-border-up, .k-window-content, .k-filter-menu
{
    -ms-border-radius: 0 !important;
    border-radius: 0 !important;
}

.k-window-titlebar, .k-block > .k-header, .k-tabstrip-items .k-item, .k-panelbar .k-tabstrip-items .k-item, .k-tabstrip-items .k-link, .k-calendar-container.k-state-border-down, .k-list-container.k-state-border-down, .k-autocomplete.k-state-border-down, .k-multiselect.k-state-border-down, .k-dropdown-wrap.k-state-border-down, .k-picker-wrap.k-state-border-down, .k-numeric-wrap.k-state-border-down
{
    -ms-border-radius: 0 !important;
    border-radius: 0 !important;
}

.k-calendar .k-link.k-state-hover, .k-window .k-link
{
    -ms-border-radius: 0 !important;
    border-radius: 0 !important;
}

.k-dropdown-wrap .k-input, .k-picker-wrap .k-input, .k-numeric-wrap .k-input
{
    -ms-border-radius: 0 !important;
    border-radius: 0 !important;
}

.k-textbox > input, .k-autocomplete .k-input, .k-picker-wrap .k-input, .k-numeric-wrap .k-input, .k-dropdown-wrap .k-input, .k-selectbox .k-input
{
    height: 30px !important;
    line-height: 1.42857 !important;
}

.k-block, .k-button, .k-textbox, .k-drag-clue, .k-touch-scrollbar, .k-window, .k-window-titleless .k-window-content, .k-window-action, .k-inline-block, .k-grid .k-filter-options, .k-grouping-header .k-group-indicator, .k-autocomplete, .k-multiselect, .k-combobox, .k-dropdown, .k-dropdown-wrap, .k-datepicker, .k-timepicker, .k-colorpicker, .k-datetimepicker, .k-numerictextbox, .k-picker-wrap, .k-numeric-wrap, .k-colorpicker.k-list-container, .k-calendar-container, .k-calendar td, .k-calendar .k-link, .k-treeview .k-in, .k-editor-inline, .k-tooltip, .k-tile, .k-slider-track, .k-slider-selection, .k-upload
{
    -ms-border-radius: 0 !important;
    border-radius: 0 !important;
}

.k-datepicker, .k-timepicker, .k-datetimepicker, .k-colorpicker, .k-numerictextbox
{
    width: 70% !important;
}

.form-win > .k-autocomplete, .k-combobox, .k-datepicker, .k-timepicker, .k-datetimepicker, .k-colorpicker, .k-numerictextbox, .k-dropdown, .k-selectbox, .k-textbox
{
    width: 70% !important;
}

.k-pager-wrap .k-textbox
{
    width: 40px !important;
}

.k-pager-wrap .k-dropdown
{
    width: 54px !important;
}

/*.k-grid-pager > .k-numerictextbox, .k-dropdown, .k-selectbox, .k-textbox
{
    width: 50px !important;
}*/

.k-pager-wrap
{
    padding: 6px 0px 3px 6px !important;
}

.k-treeview .k-item
{
    padding: 0 0 0 12px !important;
}

.k-treeview > .k-item > .k-checkbox input[type="radio"], input[type="checkbox"]
{
    padding: 0 !important;
    margin: 0 !important;
}

.k-treeview span.k-in
{
    margin-top: 4px !important;
}

.k-treeview .k-plus, .k-treeview .k-minus, .k-treeview .k-plus-disabled, .k-treeview .k-minus-disabled
{
    margin-top: 6px !important;
}

/*kendo ui style 
--------------------------------------------------------------------- */