@{
    ViewBag.Title = "ForgotPassword Page";
    Layout = "~/Views/Shared/_LayoutLogIn.cshtml";
}
<div id="forgotPasswordPage">
    <div class="form-box" id="login-box">
        <div class="header">
            Forgot Password</div>
        @using (Html.BeginForm())
        {
            <div class="body bg-gray">
                <div class="form-group">
                    <input type="text" name="userid" placeholder="User ID" />
                </div>
            </div>
            <div class="footer">
                <button type="submit" class="btn bg-olive btn-block">
                    Sent me password</button>
            </div>
        }
    </div>
</div>
