@{
    ViewBag.Title = "LogIn Page";
    Layout = "~/Views/Shared/_LayoutLogIn.cshtml";
}
<div id="loginPage">
    <div class="form-box" id="login-box">
        <div class="header">
            Sign In</div>
        @using (Html.BeginForm())
        {
        
            <div class="body bg-gray">
                <div class="form-group">
                    <input type="text" name="userid" placeholder="User ID" />
                </div>
                <div class="form-group">
                    <input type="password" name="password"  placeholder="Password" />
                </div>
                <div class="form-group">
                    <input type="checkbox" name="remember_me" />
                    Remember me
                </div>
            </div>
            <div class="footer">
                <button type="submit" class="btn bg-olive btn-block">
                    Sign me in</button>
                <p>
                    <a href="@Url.Action("ForgotPassword", "Home")">I forgot my password</a></p>
                <a href="@Url.Action("Register", "Home")" class="text-center">Register a new membership</a>
            </div>
        }
        <div class="margin text-center">
            <span>Sign in using social networks</span>
            <br />
            <button class="btn bg-light-blue btn-circle">
                <i class="fa fa-facebook"></i>
            </button>
            <button class="btn bg-aqua btn-circle">
                <i class="fa fa-twitter"></i>
            </button>
            <button class="btn bg-red btn-circle">
                <i class="fa fa-google-plus"></i>
            </button>
        </div>
    </div>
</div>
